@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
textarea:focus,
input:focus {
  outline: none;
}
input {
  background-color: transparent;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
html {
  margin: 0;
  padding: 0;
  height: 100vh;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
}
